{% extends 'blog/base.html' %}

{% block title %}
{{page_title}}
{% endblock title %}

{% block content %}

    {% for post in posts%}
    <div class="blog-item">
        <h2><a href="{{post.get_absolute_url}}">{{post.title}}</a></h2>
        <div class="info">
            By <span><a href="#">{{post.author}}</a></span> | In <span><a href="{%url 'blog:category' post.category.pk%}">{{post.category}}</a></span> | On <span>{{post.pub_date}}</span> | &#x1f441 <span>{{post.view_count}} Views</span> 
        </div>
        <p>{{post.content|truncatewords:35}}</p>
    </div>
    {%endfor%}


    {% include 'blog/pagination_links.html' %}

{% endblock %}